.grid {
    display: flex;
    flex-wrap: wrap;
    .box {
        width: 10px;
        height: 10px;
        box-shadow: 0 0 1px #222;

        &:hover {
            background-color: rgb(212, 78, 78);
        }
    }
    
    .alive {
        background: #222;
    }
    
    .dead {
        background-color: #fff;
    }
}